.horizontal-container
{
    display: flex;
    width: 100%;
    height: 100%;
}

.horizontal-15-div
{
    width: 15%;
    height: 15%;
}

.horizontal-30-div
{
    width: 30%;
    height: 30%;
}

.horizontal-70-div
{
    width: 70%;
    height: 70%;
}

.horizontal-85-div
{
    width: 85%;
    height: 85%;
}

.horizontal-90-div
{
    width: 90%;
    height: 90%;
}

.horizontal-10-div
{
    width: 10%;
    height: 10%;
}

.horizontal-25-div
{
    width: 25%;
    height: 25%;
}

.green-bg {
    background-color: greenyellow;
    border-radius: 25px
}

.beige-bg {
    background-color: beige;
    border-radius: 25px
}