<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>{{VERSION}}</h1>
    <div class="horizontal-container">
        <div class="horizontal-10-div">
            <table id="idMatched"></table>
        </div>
        <div class="horizontal-90-div">
            <div class="horizontal-container">
                <div class="horizontal-15-div">
                    <canvas id="myBarChart"></canvas>
                </div>
                <div class="horizontal-70-div">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
            <div>
                <canvas id="myChart1"></canvas>
            </div>
            <div>
                <canvas id="myChart2"></canvas>
             </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="script.js"></script>
</body>

</html>